header{
	
	
}
.flex{
	width: 100%;
	height: 3px;
	
}
.flex1{
	display: flex;
	list-style: none;
    justify-content: center;
    padding: 20px;
    background-color: #252525;
    color:white;

}
.menu{
	width: 100%;
	height: 50px;
}
.abc:hover {
  transform: scale(0.1);
        /* Safari & Google Chrome */
        -webkit-transform: scale(1.2);
        /* Mozilla Firefox */
        -moz-transform: scale(1.2); 
        /* Opera */
        -o-transform: scale(1.2);
        /* IE 9 */
        -ms-transform: scale(1.2);
}
.border{
    border: 1px black solid;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 50px;
}
.border:hover {
	border: 1px red solid;
}
